.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom */
.headerSpace {
  margin-top: 95px;
}

/* Style that first letter! */
.first-letter {
  font-size: 35px;
  line-height: 70px;
}

/* Style that first letter! */
.subhead {
  initial-letter: 2;
}

/* Style that first letter! */
.subhead::first-letter {
  initial-letter: 2;
}

/* paragraph */
p {
  text-align: left;
}

/* footer */
.footer {
  bottom: 0;
  background-color: rgba(46, 140, 9, 0.542);
  width: 100%;
  text-align: center;
}
